<!DOCTYPE html>
<html>
<head>
    <title>Add Customer</title>
</head>
<body>

<h2>Add New Customer</h2>

<form method="POST">
    {% csrf_token %}

    <label>Customer ID:</label><br>
    <input type="text" name="Customer_ID"><br><br>

    <label>Full Name:</label><br>
    <input type="text" name="Full_name"><br><br>

    <label>Address:</label><br>
    <input type="text" name="Address"><br><br>

    <label>Date of Birth:</label><br>
    <input type="date" name="Date_of_Birth"><br><br>

    <label>Gender:</label><br>
    <select name="Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select><br><br>

    <label>Phone Number:</label><br>
    <input type="number" name="Phone_number"><br><br>

    <label>Email:</label><br>
    <input type="email" name="Email"><br><br>

    <label>Nationality:</label><br>
    <input type="text" name="Nationality"><br><br>

    <label>Citizenship Number:</label><br>
    <input type="number" name="Citizenship_number"><br><br>

    <label>Image Path:</label><br>
    <input type="text" name="image_path"><br><br>

    <button type="submit">Add Customer</button>
</form>

</body>
</html>
