<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer_Details</title>
</head>
<body>
    <table border="1">
    <tr>
        <th>Customer ID</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Nationality</th>
        <th>Citizenship</th>
        <th>Image</th>
    </tr>

    {% for c in rows %}
    <tr>
        <td>{{ c.0 }}</td>
        <td>{{ c.1 }}</td>
        <td>{{ c.2 }}</td>
        <td>{{ c.3 }}</td>
        <td>{{ c.4 }}</td>
        <td>{{ c.5 }}</td>
        <td>{{ c.6 }}</td>
        <td>{{ c.7 }}</td>
        <td>{{ c.8 }}</td>
        <td><img src="{{ c.9 }}" width="100"></td>
    </tr>
    {% endfor %}
</table>

</body>
</html>