<h2>Welcome, {{ name }}!</h2>

<ul>
    <li><a href="/Bank/show_Account_details/">Account</a></li>
    <li><a href="/Bank/show_saving_details/">SavingList</a></li>
    <li><a href="/Bank/show_customer_details/">CustomerList</a></li>
    <li><a href="/Bank/add_customer/">Customer</a></li>
    <li><a href="/Bank/show_employee_details/">EmployeeList</a></li>
    <li><a href="/Bank/show_loan_details/">LoanList</a></li>
    <li><a href="/Bank/show_branch_details/">BranchList</a></li>
    <li><a href="/Bank/show_borrower_details/">BorrowerList</a></li>
    <li><a href="/Bank/show_creditScore_details/">CreditScore List</a></li>
</ul>

<a href="{% url 'logout' %}">Logout</a>
