<h2>Welcome, {{ name }}!</h2>

<ul>
    <li><a href="/Bank/add_account/">Account</a></li>
    <li><a href="/Bank/add_saving/">Saving</a></li>
    <li><a href="/Bank/show_customer_details/">CustomerList</a></li>
    <li><a href="/Bank/add_customer/">Customer</a></li>
    <li><a href="/Bank/add_loan/">Loan</a></li>
    <li><a href="/Bank/add_employee/">Employee</a></li>
    <li><a href="/Bank/add_branch/">Branch</a></li>
    <li><a href="/Bank/add_borrower/">Borrower</a></li>
    <li><a href="/Bank/add_credit_score/">Credit Score</a></li>
</ul>

<a href="{% url 'logout' %}">Logout</a>
