<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saving_Details</title>
</head>
<body>
    <table border="1">
    <tr>
        <th>saving_id</th>
        <th>Account_Number</th>
        <th>Customer_ID</th>
        <th>Amount</th>
        <th>saving_Date</th>
        <th>saving_type</th>  
    </tr>

    {% for c in rows %}
    <tr>
        <td>{{ c.0 }}</td>
        <td>{{ c.1 }}</td>
        <td>{{ c.2 }}</td>
        <td>{{ c.3 }}</td>
        <td>{{ c.4 }}</td>
        <td>{{ c.5 }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>